a { 
    width: 100%;
}

a button {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: none;
    font-weight: 400;
    transition: all 300ms ease-in-out;

    background: var(--gradient-orange);
    color: #ffffff;
}
  
a button:hover {
    filter: brightness(1.2);
    cursor: pointer;
    transform: translateY(-7px);
    box-shadow: 0 20px 30px #5d5d5d41;
}

@media (min-width: 1080px) {
    a {
        width: initial;
    }

    a button {
        font-size: 2rem;
        width: initial;
        padding: 1.7rem 4.5rem;
    }
}