* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;

    --color-text: #0c0c0c;
    --primary-color: #000
    --secondary-color: #392620
    --gradient: linear-gradient(to right, #b38b6d, #b38b6d 100%); 
    --gradient-orange: linear-gradient(to right, #654831, #583820 100%); 
    --bg-black: #005eff;

    --nav-height: 7.2rem;

}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;

  }

  body {
    background:#b38b6d
  }

  ul {
    list-style: none;
  }

  ::selection {
  color: #00ec33;
  background: #ffffff;
}

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    text-align: center;
    padding-inline: 2.4rem;
  }

  @media (min-width: 1080px) {
    .wrapper {
      width: min(100rem, 100%);
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(120rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }
  
  section {
    padding-block: 10rem;
  }

  /*====  scrollbar ============================ */
::-webkit-scrollbar {
  width: .6rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: .6rem;
  background: var(--secondary-color);
  border-radius: 1rem;
}

  /* buttonWhatsapp =================== */
#buttonWhatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
  
    opacity: 0;
    visibility: hidden;
  
    transform: translateY(100%);
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
  }
  
  #buttonWhatsapp img {
    width: 6rem;
    transition: all 300ms ease-in-out;
  }
  
  #buttonWhatsapp svg:hover {
    transform: scale(1.1);
  }