header {
    margin-bottom: 5rem;
}

header h2 {
    font-size: 3rem;
    line-height: 1.1;

    color: var(--color-text);
    margin-bottom: 1rem;
    font-weight: 500;
}

header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

header p {
    font-size: 1.6rem;
    margin-top: 1rem;
}

header p span {
    font-weight: 600;
}

@media (min-width: 1080px) {
    header {
        margin-bottom: 8rem;
    }
    
    header h2 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.8rem;
    }
}