#contato {
    position: relative;
    overflow: hidden;
}

.custom-shape-divider-top-1713453881 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
    display: none;
}

.custom-shape-divider-top-1713453881 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 21px;
}

.custom-shape-divider-top-1713453881 .shape-fill {
    fill: #fff;
}

#contato::before {
    content: '';
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-orange);
}

#contato .content {
    position: relative;
    z-index: 3;
}

#contato header {
    text-align: left;
    margin-bottom: 5rem;
}

#contato header span {
    color: #fff;
    opacity: .5;
}

#contato header h2 {
    color: #fff;
    margin-top: .5rem;
    font-size: 3.5rem;
    font-weight: 500;
    position: relative; 
}

#contato header h2::before {
    content: '';
    position: absolute;
    width: 5px;
    border-radius: 2rem;
    height: 100%;
    top: 0;
    left: -1.5rem;
    background: #fff;
}

#contato form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5rem;
}

#contato form label {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: #fff;
    opacity: .8;
    font-weight: 400;
}

#contato form input {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    width: 100%;
    border: 1px solid var(--color-white);
    background: linear-gradient(to right, #ebebeb3c, #e0e0e038 100%);
    padding: 1rem;
    border-radius: 1rem;
}

#contato form input::placeholder {
    color: #fff;
    opacity: .5;
}

#contato form input:focus {
    outline: 3px solid var(--secondary-color);
}

#contato form button {
    margin-top: 1rem;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: none;
    background: #fff;
    color: #000000;
}

#contato .image img {
    margin-top: 2rem;
    width: 100%;
    border-radius: 1rem;
}

#contato form button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #666666a6;
}

@media (min-width: 1080px) {  
    .wrapper {
        width: min(112rem, 100%);
      }

    section#contato .contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    section#contato::before {
        background: var(--gradient-orange);
    }

    section#contato header span {
        font-size: 1.8rem;
    }

    section#contato header h2 {
        font-size: 4rem;
    }

    section#contato .contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 8rem;
    }

    section#contato form label {
        font-size: 1.8rem;
    }

    section#contato form button {
        font-size: 2rem;
        gap: 1rem;
    }

    section#contato .image img {
        margin-top: 0;
    }
}
