#beneficios {
    overflow: hidden;
    position: relative;

    background-color: #b38b6d;
}

#beneficios header h2 {
    color: #fff;
}

#beneficios header p {
    color: #fff;
}

#beneficios .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#beneficios .cards .card {
    width: 80%;
}

#beneficios .cards .card img {
    width: 7rem;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--secondary-color);
}

#beneficios .cards .card h3 {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #fffffff4;
}

#beneficios .cards .card p {
    font-size: 1.4rem;
    color: #ffffffb5;
}

@media (min-width: 1080px) {
    section#beneficios header {
        text-align: left;
        margin-bottom: 0;
    }

    section#beneficios .content {
        display: grid;
        grid-template-columns: .6fr 1fr;
        gap: 8rem;
        align-items: start;
    }

    section#beneficios .content .cards {
        gap: 0;
        align-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section#beneficios .content .cards .card {
        width: initial;
    }
}